@import url('https://fonts.googleapis.com/css?family=Exo:400,700');


body{
   
    text-align: justify;
    font-family:'Exo', sans-serif;
    font-size: larger;
    font-weight:bolder;
    margin:30px;
    background:linear-gradient(90deg, rgba(150,213,237,1) 19%, rgba(165,219,240,1) 27%, rgba(180,225,242,1) 44%, rgba(195,231,245,1) 58%, rgba(180,225,242,1) 77%, rgba(165,219,240,1) 85%, rgba(150,213,237,1) 93%);
    
}
    
#main{

    background:linear-gradient(0deg, rgba(49,116,196,1) 1%, rgba(0,48,140,1) 93%);
    height:12vw;
    width:70vh;
    border-radius:10px;
    outline-style: groove;
    outline-color: #020960;
    border:solid #2d0888;
    color:white;
    
}

.elements{
    
    margin-left:2vw;

}
label{
   
    margin-top:3vh;

}

input{

    border-radius:5%;
    height:3vh;
    margin-top:3vh;    
    font-weight:bolder;

}


input:hover{

    height:3.2vh;
    background-color:rgb(204, 199, 199);

}

#enviar{
   
    height:4vh;
    background-color: rgb(116, 202, 213);

}

#enviar:hover{
   
    height:4.5vh;
    background-color: rgb(85, 162, 172);

}

#enviar:active {

    background-color: rgb(116, 202, 213);
    transform: translateY(2px);

}

progress{

    height:2.5vh;
    -webkit-appearance: none;
    appearance: none;

}

progress[value]::-webkit-progress-value {

    background-image:
         -webkit-linear-gradient(-45deg, 
                                 transparent 33%, rgba(0, 0, 0, .1) 33%, 
                                 rgba(0,0, 0, .1) 66%, transparent 66%),
         -webkit-linear-gradient(top, 
                                 rgba(255, 255, 255, .25), 
                                 rgba(0, 0, 0, .25)),
         -webkit-linear-gradient(left, rgb(40, 83, 10), rgb(43, 173, 11));
        
         border-radius: 2vh;

      background-size: 35px 20px, 100% 100%, 100% 100%;

  }
  
  ::-webkit-progress-bar {
   
    background-color: rgb(250, 248, 244);
    border-radius: 2vh;

   } 
   
 .barraFisicaNegativa[value]::-webkit-progress-value,.barraEmocionalNegativa[value]::-webkit-progress-value,.barraIntelectualNegativa[value]::-webkit-progress-value {
    
    background-image:
         -webkit-linear-gradient(-45deg, 
                                 transparent 33%, rgba(0, 0, 0, .1) 33%, 
                                 rgba(0,0, 0, .1) 66%, transparent 66%),
         -webkit-linear-gradient(top, 
                                 rgba(255, 255, 255, .25), 
                                 rgba(0, 0, 0, .25)),
         -webkit-linear-gradient(left, rgb(178, 18, 18), rgb(195, 11, 8));
        
         border-radius: 2vh;

      background-size: 35px 20px, 100% 100%, 100% 100%;
      
  }

 
